<app-header></app-header>
<main id="main">
    
    <br/><br/><br/>
    <section id="sec-organizaciones" class="inner-page texto">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-lg-12 col-md-6 text-center">
              <h2><b>Políticas de Privacidad 2023</b></h2>
              <h3>Comunidad de Organizaciones Solidarias</h3>
              <h3>NAVEGASOCIAL.CL</h3>
            </div>
            <br/><br/><br/><br/><br/>     
            <div class="col-lg-12 col-md-6"> 
                <ol>
                    <li style="font-weight: bold; font-size: 22px;"><h4><b>INFORMACIÓN AL USUARIO</b></h4></li>
                    <p></p>
                    <p>
                        La Comunidad de Organizaciones Solidarias., como responsable del tratamiento, le informa que, 
                        según lo dispuesto en el Reglamento (UE) 2016/679, de 27 de abril, (RGPD) y en la L.O. 3/2018, de 5 de diciembre, 
                        de protección de datos y garantía de los derechos digitales (LOPDGDD), trataremos su datos tal y como reflejamos 
                        en la presente Política de Privacidad.
                    </p>
                    <p>En esta Política de Privacidad describimos: cómo recogemos sus datos personales y por qué los recogemos, qué hacemos con ellos, 
                        con quién los compartimos, cómo los protegemos y sus opciones en cuanto al tratamiento de sus datos personales.
                    </p>
                    <p>Esta Política se aplica al tratamiento de sus datos personales recogidos por la Comunidad para la prestación de sus servicios y encuestas. Si acepta las medidas de esta Política, acepta que tratemos sus datos personales como se define en esta Política.
                    </p>
                    
                    <br/>
                    <li style="font-weight: bold; font-size: 22px;"><h4><b>CONTACTO</b></h4></li>
                    <p></p>
                    <p><strong>Denominación social:</strong> Comunidad de Organizaciones Solidarias</p>
                    <p><b>Nombre comercial:</b> Corporación de Organizaciones Solidarias</p>
                    <p><b>RUT:</b> 65.018.488-2</p>
                    <p><b>Domicilio:</b> Bustamante 26 Piso 4, Providencia, Santiago, Chile</p>
                    <p><b>e-mail: </b> <a href="mailto:gdpr@comunidad-org.cl">gdpr@comunidad-org.cl</a></p>
                    
                    <br/>
                    <li style="font-weight: bold; font-size: 22px;"><h4><b>PRINCIPIOS CLAVE</b></h4></li>
                    <p></p>
                    <p>
                        Siempre hemos estado comprometidos con prestar nuestros servicios con el más alto grado de calidad, 
                        lo que incluye tratar sus datos con seguridad y transparencia. Nuestros principios son:
                    </p>
                    <p><b>Legalidad:</b> Solo recopilaremos sus Datos personales para fines específicos, explícitos y legítimos.</p>
                    <p><b>Minimización de datos:</b> Limitamos la recogida de datos de carácter personal a lo que es estrictamente relevante 
                      y necesario para los fines para los que se han recopilado.
                    </p>
                    <p><b>Limitación de la Finalidad:</b> Solo recogeremos sus datos personales para los fines declarados y solo según sus deseos.</p>
                    <p><b>Precisión:</b> Mantendremos sus datos personales exactos y actualizados.</p>
                    <p><b>Seguridad de los Datos:</b> Aplicamos las medidas técnicas y organizativas adecuadas y proporcionales a los riesgos para garantizar 
                      que sus datos no sufran daños, tales como divulgación o acceso no autorizado, la destrucción accidental o ilícita o su pérdida 
                      accidental o alteración y cualquier otra forma de tratamiento ilícito.
                    </p>
                    <p><b>Acceso y Rectificación:</b> Disponemos de medios para que acceda o rectifique sus datos cuando lo considere oportuno.</p>
                    <p><b>Conservación:</b> Conservamos sus datos personales de manera legal y apropiada y solo mientras es necesario para los fines para los que se han recopilado.</p>
                    <p><b>Las transferencias internacionales:</b> cuando se dé el caso de que sus datos vayan a ser transferidos fuera del territorio Nacional se protegerán adecuadamente.</p>
                    <p><b>Terceros:</b> El acceso y transferencia de datos personales a terceros se llevan a cabo de acuerdo con las leyes y reglamentos aplicables y con las garantías contractuales adecuadas.</p>
                    <p><b>Marketing Directo y cookies:</b> Cumplimos con la legislación aplicable en materia de publicidad y cookies.</p>

                    <br/>
                    <li style="font-weight: bold; font-size: 22px;"><h4><b>RECOGIDA Y TRATAMIENTO DE SUS DATOS PERSONALES</b></h4></li>
                    <p></p>
                    <p>Los tipos de datos que se pueden solicitar y tratar son:</p>
                    <ul class="b">
                      <li>Datos de carácter identificativo.</li>
                      <li>También recogemos de forma automática datos sobre su visita a nuestro sitio web según se describe en la política de cookies.</li>
                      <li>Siempre que solicitemos sus Datos personales, le informaremos con claridad de qué datos personales recogemos y con qué fin. En general, 
                        recogemos y tratamos sus datos personales con el propósito de:</li>
                        <ul class="a">
                          <li>Proporcionar información, servicios, productos, información relevante y novedades en el sector.</li>
                          <li>Envío de comunicaciones</li>
                        </ul>
                    </ul>

                    <br/>
                    <li style="font-weight: bold; font-size: 22px;"><h4><b>LEGITIMIDAD</b></h4></li>
                    <p></p>
                    <p>De acuerdo con la normativa de protección de datos aplicable, sus datos personales podrán tratarse siempre que:</p>
                    <ul class="b">
                      <li>Nos hayan dado su consentimiento a los efectos del tratamiento. Por supuesto podrá retirar su consentimiento en cualquier momento.</li>
                      <li>Por requerimiento legal.</li>
                      <li>De existir un interés legítimo que no se vea menoscabado por sus derechos de privacidad, como por ejemplo el envío de información comercial 
                        bien por suscripción a nuestra newsletter o por su condición de cliente/socio.</li>
                      <li>Por ser necesaria para la prestación de alguno de nuestros servicios mediante relación contractual entre usted y nosotros.</li>
                    </ul>

                    <br/>
                    <li style="font-weight: bold; font-size: 22px;"><h4><b>COMUNICACIÓN DE DATOS PERSONALES</b></h4></li>
                    <p></p>
                    <p>Los datos pueden ser comunicados a empresas relacionadas con la Comunidad de Organizaciones Solidarias para la prestación de los diversos 
                      servicios en calidad de Encargados del Tratamiento. La empresa no realizará ninguna cesión, salvo por obligación legal.</p>

                    <br/>
                    <li style="font-weight: bold; font-size: 22px;"><h4><b>SUS DERECHOS</b></h4></li>
                    <p></p>
                    <p>En relación con la recogida y tratamiento de sus datos personales, puede ponerse en contacto con nosotros en cualquier momento para:</p>
                      <ul class="b">
                        <li>Acceder a sus datos personales y a cualquier otra información indicada en el Artículo 15.1 del RGPD.</li>
                        <li>Rectificar sus datos personales que sean inexactos o estén incompletos de acuerdo con el Artículo 16 del RGPD.</li>
                        <li>Suprimir sus datos personales de acuerdo con el Artículo 17 del RGPD.</li>
                        <li>Limitar el tratamiento de sus datos personales de acuerdo con el Artículo 18 del RGPD.</li>
                        <li>Solicitar la portabilidad de sus datos de acuerdo con el Artículo 20 del RGPD.</li>
                        <li>Oponerse al tratamiento de sus datos personales de acuerdo con el artículo 21 del RGPD.</li>
                        <li>Si ha otorgado su consentimiento para alguna finalidad concreta, tiene derecho a retirar el consentimiento otorgado en 
                          cualquier momento, sin que ello afecte a la licitud del tratamiento basado en el consentimiento previo a su retirada rrhh.</li>
                        <li>Puede ejercer estos derechos enviando comunicación, motivada y acreditada, a <a href="mailto:gdpr@comunidad-org.cl" target="_blank">gdpr@comunidad-org.cl</a></li>
                        <li>También tiene derecho a presentar una reclamación ante la Autoridad de control competente <a href="https://www.aepd.es" target="_blank">www.aepd.es</a> si considera que el tratamiento 
                          no se ajusta a la normativa vigente.</li>
                      </ul>

                      <br/>
                    <li style="font-weight: bold; font-size: 22px;"><h4><b>INFORMACIÓN LEGAL</b></h4></li>
                    <p></p>
                    <p>Los requisitos de esta Política complementan, y no reemplazan, cualquier otro requisito existente bajo la ley de protección de datos aplicable, que será 
                      la que prevalezca, en cualquier caso.</p>
                    <p>Esta Política está sujeta a revisiones periódicas y la empresa puede modificarla en cualquier momento. Cuando esto ocurra, le avisaremos de cualquier cambio 
                      y le pediremos que vuelva a leer la versión más reciente de nuestra Política y que confirme su aceptación.</p>
                </ol>         
            </div>  
          </div>
        </div>      
      </section>
      <br/><br/><br/>
  
      
</main>
<app-footer></app-footer>