<app-header></app-header>
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="sec-inicio" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Navega Social</h2>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container row">
        <div class="col-lg-1 col-md-6">
        </div>        
        <div class="col-lg-3 col-md-6">
          <img src="assets/img/logo-navegasocial2.jpg" width="60%" height="auto">
        </div>
        <div class="col-lg-8 col-md-6">
          <h2>Título</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a,</p>
        </div>
      </div>      
    </section>

    <section id="sec-buscador" class="inner-page">
      <div class="container row">
        <div class="col-lg-1 col-md-6">
        </div>             
        <div class="col-lg-11 col-md-6 text-center">
          <h2>Buscador NavegaSocial</h2>
          <p>Utiliza nuestro buscador para encontrar las organizaciones que este acorde a tus intereses y participa en sus programas y campañas</p>
          <a href="/busqueda" class="btn btn-buscador" role="button" aria-disabled="true">Ir al Buscador</a>
        </div>
      </div>
      <div class="container row">
        <div class="col-lg-1 col-md-6">
        </div>             
        <div class="col-lg-11 col-md-6 text-center">
          <img src="assets/img/persona-varios.jpg" width="80%" alt="">
        </div>
      </div>       
    </section>        

    <section id="sec-organizaciones" class="inner-page">
      <div class="container row">
        <div class="col-lg-1 col-md-6">
        </div>         
        <div class="col-lg-3 col-md-6">
          <h2>Requisitos</h2>
        </div>
        <div class="col-lg-8 col-md-6">          
          <p>Hola!!</p>
          <p>
            Si has llegado hasta aquí es porque te interesa que la organización a la que perteneces aparezca en
            nuestro buscador de organizaciones de la sociedad civil https://navegasocial.cl.
            Conoces y estás de acuerdo con nuestra política de protección de datos en compliance con GRPD
            (Unión Europea) de la Comunidad de Organizaciones Solidarias. Una vez completa la inscripción y
            cumplidos los requisitos, recibirás un correo electrónico con las instrucciones a seguir dentro de las
            próximas 72 horas!</p>
            <h4>Inscripcipción en nuestra plataforma</h4>
            <p>
              Si bien la inscripción en la plataforma es gratuita y la permanencia indefinida, hay requisitos
              asociados para esta postulación, las cuales detallamos a continuación:
              Ser una Organización Chilena sin fines de lucro
              Para acreditar esto, debes adjuntar los siguientes documentos:  
            </p>
            <ol>
              <li>
                <p>
                  Adjuntar certificado digital de vigencia de persona jurídica sin fines de lucro (mes y año en
                  curso) El certificado lo puedes solicitarlos gratuitamente en
                  https://www.registrocivil.cl/principal/servicios-en-linea
                </p>
              </li>
              <li>
                <p>
                  Adjuntar carta de intención de ingreso a la plataforma firmada digitalmente por el Director,
                  Directora Ejecutiva o miembro del Directorio además adjuntar: compromiso y autorización
                  a compartir datos, que los datos que proveerán son datos verídicos y aceptación de ser
                  removido de las bases si hay datos que no son verídicos.
                </p>
              </li>
            </ol>
            <h4>Requisitos de Permanencia en nuestra plataforma</h4>
            <p>
              La permanencia en nuestra plataforma será renovada automáticamente todos los años para las
              instituciones que declaren su fecu social en estado finalizada en fecusocial.cl (Otra plataforma de la
              Comunidad de Organizaciones Solidarias), la administración de navegasocial.cl se reserva el
              derecho de borrar los datos y/o perfil de la organización en el caso que los datos proporcionados
              no sean verídicos.
            </p>
            <a href="/organizaciones" class="btn btn-buscador" role="button" aria-disabled="true">Registra tú Organización</a>
        </div>
      </div>      
    </section>

    <section id="sec-conocenos" class="inner-page">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 footer-links">
            <h2>Medium Header Title</h2>
            <p>Imagen</p>
          </div>
          <div class="col-lg-6 col-md-6 footer-links">
            <h3>Quienes somos</h3>
            <p>
              Somos una red de organizaciones de la sociedad civil que cree en el actuar colaborativo para la
              construcción de un país más justo, equitativo y sostenible. La sociedad civil en Chile ha destacado
              por su compromiso y trabajo por la superación de la pobreza, la vulnerabilidad y exclusión a la que
              se ven enfrentados miles de personas y comunidades, transformándose en un real agente de
              cambio que debe ser potenciado, escuchado y visibilizado por todos los sectores.
            </p>
            <h3>Misión Visión</h3>
            <p>
              Construir una Comunidad de organizaciones de la sociedad civil fortalecida y articulada que incida
              en la transformación de una sociedad justa y sostenible.
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section id="sec-contactanos" class="inner-page">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 footer-links">
            <img width="500" height="400" src="assets/img/Mapa-Navega.jpg" alt="">
          </div>
          <div class="col-lg-6 col-md-6 footer-links">
            <h2>Contactanos</h2>
            <p>Envianos tus dudas y consultas</p>
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
                  <div class="form-group">
                    <label for="fullname">Nombre</label>
                    <input type="text" class="form-control" name="Fullname" placeholder="Nombre" formControlName="Fullname">
                  </div>                  
                  <div class="form-group">
                    <label for="Email">E-mail</label>
                    <input type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="E-Mail"formControlName="Email">
                  </div>
                  <div class="form-group">
                    <label for="comment">Mensaje</label>
                    <textarea class="form-control" formControlName="Comment" name="Comment">
                    </textarea>
                  </div>
                  <div>
                    <button type="submit" class="btn btn-primary" [disabled]="!FormData.valid">Enviar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>    

  </main><!-- End #main --> 
  <app-footer></app-footer>
  <!--
  <div id="preloader"></div>
  -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>