<app-header></app-header>
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="sec-inicio" class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Navega Social</h2>
        </div>
      </div>
    </section><!-- End Breadcrumbs -->
    <br/><br/><br/>

    <section class="inner-page texto">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col col-lg-2 rounded mx-auto d-block">
            <img src="assets/img/logo-navegasocial2.jpg" width="150%" height="100%">
          </div>
          <div class="col-md-8 abs-center color-fondo-pagina-inicio">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a,</p>
          </div>
        </div>
      </div>
    </section>        
    <br/><br/><br/><br/>

    <section id="sec-buscador" class="inner-page texto">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-lg-11 col-md-6 text-center">
            <h2><b>Buscador NavegaSocial</b></h2>
            <br/>
            <p>Utiliza nuestro buscador para encontrar las organizaciones que este acorde a tus <br> intereses y participa en sus programas y campañas</p>
            <br/>
            <a href="/busqueda" class="btn btn-buscador" role="button" aria-disabled="true">Ir al Buscador</a>
          </div>  
        </div>
      </div>
      <br/><br/>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-lg-11 col-md-6 text-center">
            <img src="assets/img/persona-varios.jpg" width="80%">
          </div>
        </div>
      </div>       
    </section>     
    <br/><br/><br/><br/>

    <section id="sec-organizaciones" class="inner-page texto">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-lg-12 col-md-6 text-center">
            <h2><b>Cómo incorporo a mi ONG a navegasocial.cl</b></h2>  
          </div>
          <br/><br/><br/>     
          <div class="col-lg-2 col-md-6 alineacion-vertical-centrada">
            <h2><b>Requisitos</b></h2>
          </div>
          <div class="col-lg-1 col-md-6 v-line">
          </div>  
          <div class="col-lg-8 col-md-6">          
            <p>Hola!!</p>
            <p>
              Si has llegado hasta aquí es porque te interesa que la organización a la que perteneces aparezca en
              nuestro buscador de organizaciones de la sociedad civil https://navegasocial.cl.
              Conoces y estás de acuerdo con nuestra política de protección de datos en compliance con GRPD
              (Unión Europea) de la Comunidad de Organizaciones Solidarias. Una vez completa la inscripción y
              cumplidos los requisitos, recibirás un correo electrónico con las instrucciones a seguir dentro de las
              próximas 72 horas!</p>
              <h4><b>Inscripción en nuestra plataforma</b></h4>
              <p>
                Si bien la inscripción en la plataforma es gratuita y la permanencia indefinida, hay requisitos
                asociados para esta postulación, las cuales detallamos a continuación:
              </p>
                <ul>
                  <li>
                    <p>
                      Ser una Organización Chilena sin fines de lucro
                    </p>
                  </li>
                </ul>
              <p>
                Para acreditar esto, debes adjuntar los siguientes documentos:  
              </p>
              <ul>
                <li>
                  <p>
                    Adjuntar certificado digital de vigencia de persona jurídica sin fines de lucro (mes y año en
                    curso) El certificado lo puedes solicitarlos gratuitamente en
                    https://www.registrocivil.cl/principal/servicios-en-linea
                  </p>
                </li>
                <li>
                  <p>
                    Adjuntar carta de intención de ingreso a la plataforma firmada digitalmente por el Director,
                    Directora Ejecutiva o miembro del Directorio además adjuntar: compromiso y autorización
                    a compartir datos, que los datos que proveerán son datos verídicos y aceptación de ser
                    removido de las bases si hay datos que no son verídicos.
                  </p>
                </li>
              </ul>
              <h4><b>Requisitos de Permanencia en nuestra plataforma</b></h4>
              <p>
                La permanencia en nuestra plataforma será renovada automáticamente todos los años para las
                instituciones que declaren su fecu social en estado finalizada en fecusocial.cl (Otra plataforma de la
                Comunidad de Organizaciones Solidarias), la administración de navegasocial.cl se reserva el
                derecho de borrar los datos y/o perfil de la organización en el caso que los datos proporcionados
                no sean verídicos.
              </p>
              <a href="/organizaciones" class="btn btn-buscador" role="button" aria-disabled="true">Registra tú Organización</a>
          </div>  
        </div>
      </div>      
    </section>
    <br/><br/><br/>

    <section id="sec-conocenos" class="inner-page texto">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-lg-12 col-md-6 text-center">
            <h1><b>Qué es navegasocial.cl?</b></h1>  
            <p>Navegasocial.cl es un buscador de organizaciones de la sociedad civil en Chile....</p>
          </div>
          <br/><br/><br/><br/><br/>   
          <div class="col-lg-4 col-md-6 footer-links">
            <div class="col-md-12 text-center">
              <img src="assets/img/about.jpg" width="120%">
            </div>
          </div>
          <div class="col-lg-1 col-md-6">
          </div> 
          <div class="col-lg-6 col-md-6 footer-links">
            <h4><b>Quienes somos</b></h4>
            <p>
              Somos una red de organizaciones de la sociedad civil que cree en el actuar colaborativo para la
              construcción de un país más justo, equitativo y sostenible. La sociedad civil en Chile ha destacado
              por su compromiso y trabajo por la superación de la pobreza, la vulnerabilidad y exclusión a la que
              se ven enfrentados miles de personas y comunidades, transformándose en un real agente de
              cambio que debe ser potenciado, escuchado y visibilizado por todos los sectores.
            </p>
            <h4><b>Misión Visión</b></h4>
            <p>
              Construir una Comunidad de organizaciones de la sociedad civil fortalecida y articulada que incida
              en la transformación de una sociedad justa y sostenible.
            </p>
            <h4><b>Nuestra Historia</b></h4>
            <p>
              Construir una Comunidad de organizaciones de la sociedad civil fortalecida y articulada que incida
              en la transformación de una sociedad justa y sostenible.
            </p>
          </div>
        </div>
      </div>
    </section>
    <br/><br/><br/>
    
    <section id="sec-contactanos" class="inner-page texto">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-lg-12 col-md-6 text-center">
            <h1><b>Contáctanos</b></h1>  
          </div>
          <br/><br/><br/>
          <div class="col-lg-4 col-md-6 footer-links">
            <img width="500" height="400" src="assets/img/Mapa-Navega.jpg" alt="">
          </div>
          <div class="col-lg-1 col-md-6">
          </div> 
          <div class="col-lg-6 col-md-6 footer-links">
            <p>Envianos tus dudas y consultas</p>
         
          <div class="col-md-12">
            <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
              <div className="row">
                <div class="col-md-8">
                  <input type="text" class="form-control color-fondo-imagen-personas" name="Fullname" placeholder="Nombre" formControlName="Fullname">
                </div>   
              </div>   
              <br/>
              <div className="row">
                <div class="col-md-8">
                  <input type="email" class="form-control color-fondo-imagen-personas" name="Email" aria-describedby="emailHelp" placeholder="Correo"formControlName="Email">
                </div>
              </div>  
              <br/>             
              <div className="row">
                <div class="col-md-8">
                  <textarea rows="5" class="form-control color-fondo-imagen-personas" formControlName="Comment" placeholder="Escribe tu mensaje" name="Comment">
                  </textarea>
                </div>
              </div>
              <br/>
              <div>
                <button type="submit" class="btn btn-primary" [disabled]="!FormData.valid">Enviar</button>
              </div>
            </form>
          </div>
   
          </div>
        </div>
      </div>
    </section>  
    <br/><br/><br/>  

  </main><!-- End #main --> 
  <app-footer></app-footer>
  <!--
  <div id="preloader"></div>
  -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>