 <!-- ======= Footer ======= -->
 <footer id="footer">
    <div class="footer-top">
      <div class="container texto">
        <div class="row">
            <div class="col-lg-6 col-md-6 footer-links"></div>
            <div class="col-lg-2 col-md-2 footer-links">
              <h4>Navegasocial.cl</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Actualizar Perfil</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Inscribe tu ONG</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Que es Navegasocial</a></li>
              </ul>
            </div>

            <div class="col-lg-2 col-md-2 footer-links">
              <h4>Soporte</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Politica de privacidad</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Términos de Uso</a></li>
              </ul>
            </div>

            <div class="col-lg-2 col-md-2 footer-links">
              <h4>Sobre Nosotros</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Sobre la Comunidad</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">FecuSocial.cl</a></li>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->