<div style="border: none;" class="card">
    <div class="col-lg-12 col-md-12 row justify-content-md-center">
        <google-map
        
        #myGoogleMap

        height="400px"
        width="100%"
        [zoom]="zoom"
        [center]="center"
        [options]="options"
        (mapClick)="eventHandler($event,'mapClick')"
        (mapDblclick)="eventHandler($event,'mapDblclick')"
        (mapDrag)="eventHandler($event,'mapDrag')"
        (mapDragend)="eventHandler($event,'mapDragend')"
        (mapRightclick)="eventHandler($event,'mapRightclick')"
        (positionChanged)="eventHandler($event,'marker_positionChanged')"
        (zoomChanged)="eventHandler($event,'zoomChanged')"
        >
        <map-marker
            #markerElem="mapMarker"
            *ngFor="let marker of lstMarcas"
            [position]="marker.position"
            [label]="marker.label"
            [title]="marker.title"
            [options]="marker.options"
            (mapClick)="openInfo(markerElem, marker.info)"
        >
        </map-marker>

        <map-info-window>{{ infoContent }}</map-info-window>
        </google-map>
        <!--
        <button (click)="zoomIn()">Zoom in</button>
        <button (click)="zoomOut()">Zoom out</button>
        -->
    </div>
    <div class="col-lg-12 col-md-12 row justify-content-md-center" *ngIf="entRel">
        <div class="col-lg-4 col-md-4">
            <div class="row">
                <mat-icon>stars</mat-icon>
                <div>
                    <p>{{entRel.nombre}}</p>
                </div>
            </div>
            <div class="row">
                <mat-label>Tipo Entidad</mat-label>
                <div>
                    <p>{{entRel.tipoEntidad.nombre}}</p>
                </div>
            </div>              
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="row">
                <mat-icon>stars</mat-icon>
                <div>
                    <p>{{ responable.nombre }} {{ responable.apaterno }} {{ responable.amaterno }}</p>
                </div>
            </div>
            <div class="row">
                <mat-label>Areas de Trabajo</mat-label>
                <div>
                    <ul>
                        <ng-container *ngFor="let a of listaAreas">
                            <li>{{a.nombre}}</li>
                        </ng-container>
                    </ul>
                </div>
            </div>              
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="row">
                <mat-icon>stars</mat-icon>
                <div>
                    <ul>
                        <ng-container *ngFor="let d of listaDir">
                            <li>{{d.direccionConcatenada}}</li>
                        </ng-container>
                    </ul>
                </div>
            </div>
            <div class="row">
                <mat-label>Contacto</mat-label>
                <div>
                    <p>{{entRel.email}}</p>
                </div>
            </div>     
            <div class="row">
                <mat-label>Telefono</mat-label>
                <div>
                    <p>{{entRel.telefono}}</p>
                </div>
            </div>                       
        </div>
    </div>    
</div>
