<div style="border: none;" class="card">
    <div class="col-lg-12 col-md-12 row justify-content-md-center">
        <google-map

        #myGoogleMap

        height="400px"
        width="100%"
        [zoom]="zoom"
        [center]="center"
        [options]="options"
        (mapClick)="eventHandler($event,'mapClick')"
        (mapDblclick)="eventHandler($event,'mapDblclick')"
        (mapDrag)="eventHandler($event,'mapDrag')"
        (mapDragend)="eventHandler($event,'mapDragend')"
        (mapRightclick)="eventHandler($event,'mapRightclick')"
        (positionChanged)="eventHandler($event,'marker_positionChanged')"
        (zoomChanged)="eventHandler($event,'zoomChanged')"
        >
        <map-marker
            #markerElem="mapMarker"
            *ngFor="let marker of lstMarcas"
            [position]="marker.position"
            [label]="marker.label"
            [title]="marker.title"
            [options]="marker.options"
            (mapClick)="openInfo(markerElem, marker.info)"
        >
        </map-marker>

        <map-info-window>{{ infoContent }}</map-info-window>
        </google-map>
        <!--
        <button (click)="zoomIn()">Zoom in</button>
        <button (click)="zoomOut()">Zoom out</button>
        -->
    </div>
    <div class="mt-4 col-lg-12 col-md-12 row justify-content-md-center" *ngIf="entRel">
        <div class="col-lg-4 col-md-4">
			<div class="row mb-3">
				<p class="fs-4"><b><mat-icon>stars</mat-icon> Nombre</b></p>
				<p>{{entRel.nombre}}</p>
			</div>

			<div class="row">
				<p class="fs-4"><b><mat-icon>stars</mat-icon> Tipo de Entidad</b></p>
				<p>{{entRel.tipoEntidad.nombre}}</p>
			</div>
        </div>

        <div class="col-lg-4 col-md-4">
            <div class="row mb-3">
				<p class="fs-4"><b><mat-icon>stars</mat-icon> Responsable</b></p>
				<p>{{ responable.nombre }} {{ responable.apaterno }} {{ responable.amaterno }}</p>
            </div>
            <div class="row">
				<p class="fs-4"><b><mat-icon>stars</mat-icon> Areas de Trabajo</b></p>
				<ul>
					<ng-container *ngFor="let a of listaAreas">
						<li>{{a.nombre}}</li>
					</ng-container>
				</ul>
            </div>
        </div>

        <div class="col-lg-4 col-md-4">
            <div class="row mb-3">
				<p class="fs-4"><b><mat-icon>stars</mat-icon> Dirección</b></p>
				<ul>
					<ng-container *ngFor="let d of listaDir">
						<li>{{d.direccionConcatenada}}</li>
					</ng-container>
				</ul>
            </div>

            <div class="row mb-3">
				<p class="fs-4"><b><mat-icon>stars</mat-icon> Contacto</b></p>
				<p>{{entRel.email}}</p>
            </div>

            <div class="row">
				<p class="fs-4"><b><mat-icon>stars</mat-icon> Teléfono</b></p>
				<p>{{entRel.telefono}}</p>
            </div>
        </div>
    </div>
</div>
