<div style="border: none;" class="card">
  <div *ngIf="cargando">
    <mat-spinner style="margin:0 auto;">Buscando Organizaciones</mat-spinner>
  </div>   
  <div class="col-lg-12 col-md-12 row justify-content-md-center" *ngIf="organizacionResp">
    <div class="row justify-content-md-center">
      <div class="col-lg-5 col-md-6 footer-links" style="padding-top: 15px; padding-left: 30px;">
        <img src="assets/img/about.jpg" width="80%">
        <br/><br/>
        <h2>Quienes Somos</h2>
        <p>{{organizacionResp.descripcion}}</p>
        <h2>Mision / Vision</h2>
        <p>
          {{organizacionResp.mision}}
        </p>
        <h2>Area de Trabajo</h2>
        <p>
          {{organizacionResp.areaTrabajo.nombre}}
        </p>
        <h2>Público Objetivo</h2>
        <p>
          {{organizacionResp.publicoObjetivo.nombre}}
        </p>
        <h2>Director Ejecutivo</h2>
        <p>
          Nombre Director Ejecutivo
        </p>                                     
      </div>
      <div class="col-lg-1 col-md-6"></div>
      <div class="col-lg-5 col-md-6 footer-links" style="padding-top: 15px;">
        <h4><b>Año de fundación</b></h4>
        <p>{{organizacionResp.fechaFundacion | date: 'yyyy'}}</p>
        <h4><b>Rut Organización</b></h4>
        <p>{{organizacionResp.rut}}</p>
        <h4><b>Tipo de Organización</b></h4>
        <p>{{organizacionResp.tipoOrganizacion.nombre}}</p>              
        <h4><b>Información de Contacto</b></h4>
        <p>{{organizacionResp.email}}</p>
        <h4><b>Web</b></h4>
        <p><b><a href='{{organizacionResp.web}}' target="_blank">{{organizacionResp.web}}</a></b></p>                     
        <h4><b>Redes Sociales</b></h4>
          <div className="row">
            <a href='{{organizacionResp.facebook}}' target="_blank"><i class="bi bi-facebook"></i></a>
            &nbsp;&nbsp;&nbsp;
            <a href='{{organizacionResp.twitter}}' target="_blank"><i class="bi bi-twitter"></i></a>
            &nbsp;&nbsp;&nbsp;
            <a href='{{organizacionResp.instagram}}' target="_blank"><i class="heading bi bi-instagram"></i></a>
          </div>
        <br/>  
        <h4><b>Direcciones</b></h4>
        <ng-container *ngFor="let dir of organizacionResp.direcciones">
          <table class="table table-striped">
            <tbody>
              <tr style="width: 250px;">
                <td style="width: 30px;"></td>
                <td style="width: 120px;"><h4><b>Etiqueta</b></h4></td>
                <td style="width: 440px;"><h4><b>Dirección</b></h4></td>
              </tr>
              <tr>
                <td style="width: 30px;"></td>
                <td style="width: 120px;"><p>{{dir.etiqueta}}</p></td>
                <td style="width: 440px;"><p>{{dir.direccionConcatenada}}</p></td>
              </tr>
            </tbody>
          </table>  
        </ng-container>
        <div class="col-lg-12 col-md-12" style="padding-top: 15px;">
          <google-map        
          #myGoogleMap
          height="400px"
          width="100%"
          [zoom]="zoom"
          [center]="center"
          [options]="options"        
          >
          <map-marker
              #markerElem="mapMarker"
              *ngFor="let marker of lstMarcas"
              [position]="marker.position"
              [label]="marker.label"
              [title]="marker.title"
              [options]="marker.options"
          >
          </map-marker>
          </google-map>        
        </div>
      </div>
    </div>
    </div>
</div>