<div class="card country-border">
  <div *ngIf="organizacionResp">
    <div class="row justify-content-md-center">
      <div class="col-lg-4 col-md-6 footer-links" style="padding-top: 15px; padding-left: 30px;">
        <img src="assets/img/about.jpg" width="80%">
        <br/><br/>
        <h2>Quienes Somos</h2>
        <p>{{organizacionResp.descripcion}}</p>
        <h2>Mision / Vision</h2>
        <p>
          {{organizacionResp.mision}}
        </p>
        <h2>Area de Trabajo</h2>
        <p>
          {{organizacionResp.areaTrabajo.nombre}}
        </p>
        <h2>Público Objetivo</h2>
        <p>
          {{organizacionResp.publicoObjetivo.nombre}}
        </p>
        <h2>Director Ejecutivo</h2>
        <p>
          Nombre Director Ejecutivo
        </p>                                     
      </div>
      <div class="col-lg-1 col-md-6"></div>
      <div class="col-lg-4 col-md-6 footer-links" style="padding-top: 15px;">
        <h4><b>Año de fundación</b></h4>
        <p>1985</p>
        <h4><b>Rut Organización</b></h4>
        <p>{{organizacionResp.rut}}</p>
        <h4><b>Tipo de Organización</b></h4>
        <p>Tipo A...</p>              
        <h4><b>Información de Contacto</b></h4>
        <p>{{organizacionResp.email}}</p>
        <h4><b>Web</b></h4>
        <p>www.organizacion-pendiente.cl</p>                     
        <h4><b>Redes Sociales</b></h4>
          <div className="row">
            <i class="bi bi-facebook"></i>
            &nbsp;&nbsp;&nbsp;
            <i class="bi bi-twitter"></i>
            &nbsp;&nbsp;&nbsp;
            <i class="bi bi-google"></i>
          </div>
        <br/>  
        <h4><b>Direcciones</b></h4>
        <p>
          Casa Matriz:
        </p>
        <p>General Bustamante 26, 4to Piso
          Providencia - Santiago</p>
        <p>Sucursal 1</p>
        <iframe style="border:0; width: 110%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
      
    </div>
</div>