.modal {
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
}

.color-fondo {
    background-color: hsl(177, 42%, 55%);
    padding-top: 15px;
    padding-bottom: 15px;
}

.table {
    table-layout: fixed;
    width: 250px;
    border-bottom-width: 0px;
}

.table>:not(caption)>*>* {
    border-bottom-width: 0px;
}