<main id="main">
    <h2 mat-dialog-title>{{this.nombre}}</h2>

    <mat-dialog-content class="mat-typography">
        <div class="d-flex justify-content-between align-items-center">
          <mat-tab-group>    
            <mat-tab label="Información">
              <app-informacion [organizacion]="organizacion"></app-informacion>
            </mat-tab>
            <mat-tab label="Programas y Proyectos">
              <app-prgypry [organizacion]="organizacion"></app-prgypry>
            </mat-tab>
            <mat-tab label="RRHH y Finanzas">
              <app-rrhhfinanzas [organizacion]="organizacion"></app-rrhhfinanzas>
            </mat-tab>
          </mat-tab-group>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cerrar</button>
    </mat-dialog-actions>

  </main><!-- End #main -->
