<div class="card country-border">
    <div class="col-lg-12 col-md-12 row justify-content-md-center">
        <div class="row ">
        <div class="col-lg-5 col-md-6 footer-links" style="padding-top: 15px; padding-left: 30px;">               
            <div *ngFor="let p of listaPrgPry; let i = index">
                <div>
                    <h4><b>{{p.fechaCreacion | date: 'dd'}} <br> {{p.fechaCreacion | date: 'MMM'}}</b></h4>
                </div>                
                <div>
                    <button type="button" mat-button (click)="mostrarPrgPry(p)">
                        {{p.nombre}}
                    </button>
                    <p>{{p.objetivo}}</p>
                </div>
            </div>           
        </div>
        <div class="col-lg-1 col-md-6"></div>
        <div class="col-lg-5 col-md-6 footer-links" style="padding-top: 15px; padding-left: 30px;" *ngIf="prgPryResp">
            <div>
                <div class="material-icons">
                    <mat-icon>stars</mat-icon>
                    <div>
                        <h4>Objetivo</h4>
                    </div>
                </div>
                <div>
                    <p>{{prgPryResp.objetivo}}</p>
                </div>
            </div>
            <div>
                <div class="material-icons">
                    <mat-icon>stars</mat-icon>
                    <div>
                        <h4>Fecha de inicio y termino</h4>
                    </div>
                </div>
                <div>
                    <p>&nbsp;</p>
                </div>
            </div>
            <div>
                <div class="material-icons">
                    <mat-icon>stars</mat-icon>
                    <div>
                        <h4>Publico Objetivo o Usuario</h4>
                    </div>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div>
                <div class="material-icons">
                    <mat-icon>stars</mat-icon>
                    <div>
                        <h4>Lugar Geografico de Ejecución</h4>
                    </div>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div>
                <div class="material-icons">
                    <mat-icon>stars</mat-icon>
                    <div>
                        <h4>Responsable</h4>
                    </div>
                </div>
                <div>
                    <p>Nombre.</p>
                </div>
            </div>
            <div>
                <div class="material-icons">
                    <mat-icon>stars</mat-icon>
                    <div>
                        <h4>Número de Usuarios Directos Alcanzados</h4>
                    </div>
                </div>
                <div>
                    <p>Nombre.</p>
                </div>
            </div>
            <div>
                <div class="material-icons">
                    <mat-icon>stars</mat-icon>
                    <div>
                        <h4>Contacto</h4>
                    </div>
                </div>
                <div>
                    <p>correo@contacto.com</p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>