<app-header></app-header>
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Registro de Organizaciones</h2>
        </div>
      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container texto">
          <mat-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Información Personal</ng-template>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>Nombre</mat-label>
                            <input matInput placeholder="Nombres" formControlName="nombreCtrl">
                            <mat-error *ngIf="firstFormGroup.controls['nombreCtrl'].errors?.['required']">
                                el nombre es <strong>requerido</strong>
                            </mat-error>
                            <mat-error *ngIf="firstFormGroup.controls['nombreCtrl'].hasError('maxlength')">
                                el nombre no debe ser mayor de 50 caracteres
                            </mat-error>
                            <mat-error *ngIf="firstFormGroup.controls['nombreCtrl'].hasError('pattern')">
                                el nombre solo debe poseer letras
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>Apellido Paterno</mat-label>
                            <input matInput placeholder="Apellido Paterno" formControlName="aPaternoCtrl" required>
                            <mat-error *ngIf="firstFormGroup.controls['aPaternoCtrl'].errors?.['required']">
                                el nombre es <strong>requerido</strong>
                            </mat-error>
                            <mat-error *ngIf="firstFormGroup.controls['aPaternoCtrl'].hasError('maxlength')">
                                nombre no debe ser mayor de 50 caracteres
                            </mat-error>
                            <mat-error *ngIf="firstFormGroup.controls['aPaternoCtrl'].hasError('pattern')">
                                el nombre solo debe poseer letras
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>Apellido Materno</mat-label>
                            <input matInput placeholder="Apellido Materno" formControlName="aMaternoCtrl" required>
                            <mat-error *ngIf="firstFormGroup.controls['aMaternoCtrl'].errors?.['required']">
                                el nombre es <strong>requerido</strong>
                            </mat-error>
                            <mat-error *ngIf="firstFormGroup.controls['aMaternoCtrl'].hasError('maxlength')">
                                nombre no debe ser mayor de 50 caracteres
                            </mat-error>
                            <mat-error *ngIf="firstFormGroup.controls['aMaternoCtrl'].hasError('pattern')">
                                el nombre solo debe poseer letras
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>Rut</mat-label>
                            <input matInput placeholder="Rut" formControlName="rutCtrl" required>
                            <mat-error *ngIf="firstFormGroup.controls['rutCtrl'].errors?.['required']">
                              el rut es <strong>requerido</strong>
                            </mat-error>
                            <mat-error *ngIf="firstFormGroup.controls['rutCtrl'].hasError('maxlength')">
                              el rut no debe ser mayor de 10 carácteres
                            </mat-error>
                            <mat-error *ngIf="firstFormGroup.controls['rutCtrl'].hasError('rutInvalido')">
                              El rut no es válido
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>Cargo en la organización</mat-label>
                            <input matInput placeholder="Cargo en la organización" formControlName="cargoCtrl" required>
                            <mat-error *ngIf="firstFormGroup.controls['cargoCtrl'].errors?.['required']">
                              el cargo de la organización es <strong>requerido</strong>
                            </mat-error>
                            <mat-error *ngIf="firstFormGroup.controls['cargoCtrl'].hasError('pattern')">
                              el nombre solo debe poseer letras
                            </mat-error>
                            <mat-error *ngIf="firstFormGroup.controls['cargoCtrl'].hasError('maxlength')">
                              nombre no debe ser mayor de 50 carácteres
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>Celular</mat-label>
                            <input matInput placeholder="Celular" formControlName="celularCtrl" required>
                            <mat-error *ngIf="firstFormGroup.controls['celularCtrl'].errors?.['required']">
                              el celular es <strong>requerido</strong>
                            </mat-error>
                            <mat-error *ngIf="firstFormGroup.controls['celularCtrl'].hasError('pattern')">
                              el celular no es válido
                            </mat-error>
                            <mat-error *ngIf="firstFormGroup.controls['celularCtrl'].hasError('minlength')">
                              celular debe ser de 12 carácteres
                            </mat-error>
                            <mat-error *ngIf="firstFormGroup.controls['celularCtrl'].hasError('maxlength')">
                              celular debe ser de 12 carácteres
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>E-Mail institucional</mat-label>
                            <input matInput placeholder="E-Mail institucional" formControlName="emailCtrl" required>
                            <mat-error *ngIf="firstFormGroup.controls['emailCtrl'].errors?.['required']">
                                el email es <strong>requerido</strong>
                            </mat-error>
                            <mat-error *ngIf="firstFormGroup.controls['emailCtrl'].hasError('email')">
                                el email no es válido
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Password" formControlName="passwdCtrl" required>
                            <mat-error *ngIf="firstFormGroup.controls['passwdCtrl'].errors?.['required']">
                              el password es <strong>requerido</strong>
                            </mat-error>
                            <mat-error *ngIf="firstFormGroup.controls['passwdCtrl'].hasError('minlength')">
                              el password debe tener al menos 8 caracteres
                            </mat-error>
                            <mat-error *ngIf="firstFormGroup.controls['passwdCtrl'].hasError('pattern')">
                              el password debe tener al menos una letra mayúscula, una letra minúscula, un número y un caracter especial <b>(@ $ ! % * ? &)</b>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <br/>
                <div>
                  <button mat-raised-button="" color="primary" matStepperNext>Siguiente</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" label="Información de la organización">
              <form [formGroup]="secondFormGroup">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>Nombre Organización</mat-label>
                            <input matInput placeholder="Nombre Organización" formControlName="nombreOrgCtrl" required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>Tipo de Organización</mat-label>
                            <mat-select formControlName="tipoOrgCtrl" placeholder="">
                                <mat-option value="0">Seleccione el tipo de organización</mat-option>
                                <mat-option *ngFor="let to of listaTipoOrganizacion" [value]="to.idTipoOrganizacion">
                                    {{to.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>Rut Organización</mat-label>
                            <input matInput placeholder="Rut Organización" formControlName="rutOrgCtrl" required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>Teléfono</mat-label>
                            <input matInput placeholder="Teléfono" formControlName="telOrgCtrl" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>Representante Legal</mat-label>
                            <input matInput placeholder="Representante Legal" formControlName="representanteOrgCtrl" required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>Región</mat-label>
                                <mat-select formControlName="regionOrgCtrl" placeholder="" (selectionChange)="cargarComunasRegion($event)">
                                    <mat-option value="0">--</mat-option>
                                    <mat-option *ngFor="let r of listaRegion" [value]="r.idRegion">
                                    {{r.nombre}}
                                    </mat-option>
                                </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>Comuna</mat-label>
                            <mat-select formControlName="comunaOrgCtrl" placeholder="">
                                <mat-option value="0">--</mat-option>
                                <mat-option *ngFor="let c of listaComuna" [value]="c.idRegion">
                                {{c.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>Ciudad</mat-label>
                            <mat-select formControlName="ciudadOrgCtrl" placeholder="">
                                <mat-option value="0">--</mat-option>
                                <mat-option *ngFor="let c of listaCiudad" [value]="c.idCiudad">
                                {{c.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>Calle</mat-label>
                            <input matInput placeholder="Calle" formControlName="calleOrgCtrl" required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>Número</mat-label>
                            <input matInput placeholder="Número" formControlName="numeroOrgCtrl" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>Sitio Web</mat-label>
                            <input matInput placeholder="Sitio Web" formControlName="sitioWebOrgCtrl" required>
                        </mat-form-field>
                    </div>
                </div>
                <br/>
                <div>
                  <button mat-raised-button="" color="primary" matStepperPrevious>Anterior</button>
                  <span>&nbsp;</span>
                  <button mat-raised-button="" color="primary" matStepperNext>Siguiente</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Documentación</ng-template>
              <form [formGroup]="tercerFormGroup">
                <br/>
                <div class="row">
                    <mat-label>Los archivos que sean adjuntados deben ser solo formato PDF.</mat-label>
                </div>
                <br/>
                <table>
                    <tbody>
                        <tr *ngIf="!mostrarCertificado">
                            <th style="width: 5%"></th>
                            <th style="width: 5%; padding-left: 75px;"><img width="50" height="50" src="assets/img/lupa3.png" alt=""></th>
                            <td style="width: 40%; border-width: 1px;">&nbsp;&nbsp;Certificado Digital de vigencia de persona jurídica sin fines de lucro *</td>
                            <th style="width: 5%"></th>
                            <td style="width: 20%"><button mat-raised-button="" (click)="certificado.click()" color="primary">subir</button></td>
                        </tr>
                        <tr *ngIf="mostrarCertificado">
                            <th style="width: 5%"></th>
                            <th style="width: 5%; padding-left: 75px;"><img width="50" height="50" src="assets/img/lupa3.png" alt=""></th>
                            <td style="width: 40%; border-width: 1px;">&nbsp;&nbsp;{{file.name}}</td>
                            <th style="width: 5%"></th>
                            <td style="width: 20%"><button mat-raised-button="" (click)="certificado.click()" color="primary">subir</button></td>
                        </tr>
                        <br/>
                        <tr *ngIf="!mostrarCarta">
                            <th style="width: 5%"></th>
                            <th style="width: 5%; padding-left: 75px;"><img width="50" height="50" src="assets/img/lupa3.png" alt=""></th>
                            <td style="width: 40%; border-width: 1px">&nbsp;&nbsp;Carta de intención de ingreso a la plataforma firmada por la dirección **</td>
                            <th style="width: 5%"></th>
                            <td style="width: 20%"><button mat-raised-button="" (click)="carta.click()" color="primary">subir</button></td>
                        </tr>
                        <tr *ngIf="mostrarCarta">
                            <th style="width: 5%"></th>
                            <th style="width: 5%; padding-left: 75px;"><img width="50" height="50" src="assets/img/lupa3.png" alt=""></th>
                            <td style="width: 40%; border-width: 1px">&nbsp;&nbsp;{{file2.name}}</td>
                            <th style="width: 5%"></th>
                            <td style="width: 20%"><button mat-raised-button="" (click)="carta.click()" color="primary">subir</button></td>
                        </tr>
                    </tbody>
                </table>
                <br/>
                <div class="row">
                    <div class="col-md-10">
                        <p><mat-checkbox>Yo XXXXXXXXX con Rut XXXXXXXXX Certifico que los datos contenidos en esta solicitud son correctos y válidos. Al mismo tiempo declaro conocer y estar de
                            <br>acuerdo con las políticas de protección de datos de navegasocial.cl</mat-checkbox></p>
                        <p>* Campos obligatorios</p>
                        <p>** Carta de intención de ingreso a la plataforma firmada digitalmente por el Director, Directora Ejecutiva o miembro del directorio</p>
                        <p>*** El certificado lo puedes solicitar gratuitamente en <a href="https://www.registrocivil.cl/principal/servicios-en-linea">https://www.registrocivil.cl/principal/servicios-en-linea</a></p>
                    </div>
                    <div class="col-md-2"><span>&nbsp;</span></div>
                </div>
                <br/>
              </form>
              <div class="row">
                <div class="col-md-12 abs-center">
                    <button mat-raised-button="" color="primary" matStepperPrevious>Anterior</button>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <button mat-raised-button="" color="primary" (click)="createOrganizacion()">Enviar</button>
                </div>
              </div>
            </mat-step>
          </mat-stepper>

      </div>
    </section>
    <input #certificado (change)="onChangeCertificado($event)" type='file' hidden={true}  accept=".pdf"/>
    <input #carta (change)="onChangeCarta($event)" type='file' hidden={true}  accept=".pdf"/>

  </main><!-- End #main -->
  <app-footer></app-footer>
  <!--
  <div id="preloader"></div>
  -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
